
<div class="app-content">
  <div class="header-app">
   <div class="title"> IoT People Counter</div>
  <div class="title-today"> Today {{totalNumberToday}} </div> 
  </div>
 
  <!-- Principal Data -->
  <div class="main-content"> 
    <div class="video"> <img width="400px" src="{{video_feed}}">  </div>
    <div class="today"> 
        
        <div id="pipe" style="height: 400px; max-width: 400px" ></div> 
    </div>
  </div>

  <!-- Principal Historic -->
  <div class="history-content"> 
    <!-- <div class="date"> <input type="date" /> 
    
    </div> -->
      <div class="title"> Historical
      </div>
    <div class="date-picker">

    <ejs-daterangepicker id='daterangepicker' placeholder='Select a range' [startDate]='start' (change)="changeRangeData($event)" [endDate]='end'></ejs-daterangepicker>
</div>
    <div class="graph"> 
        <div id="history-graph" style="height: 400px; width:100%" ></div> 
    </div>
  </div>



</div>
    
